<style>
		#logo{
		}

		body{
			background-color: #ebeff5;
		}


		#total-order{
			background-color: #4cb4c7;
		}


		#supper-card{
			background-color: #7abecc;
		}

		#meal-card{
			background-color: #7CD1C0;
		}

		.hello-msg{
    font-size: 15px;
    color: white;
    margin: 10px
    }

</style>
