<style>
		#logo{
		}

		body{
			background-color: #ebeff5;
		}


		#total-order{
			background-color: #E92828;
		}


		#supper-card{
			background-color: #BB8378;
		}

		#meal-card{
			background-color: #F69952;
		}

		.hello-msg{
    font-size: 15px;
    color: white;
    margin: 10px
    }

</style>
