{%  extends 'accounts/main.html' %}
{% load static %}

{% block content %}

{% if request.user.is_staff %}

{%  include 'accounts/status.html' %}

{% endif %}

{%  include 'accounts/menu.html' %}
<br>
<div id="gallery">
{%  include 'accounts/gallery.html' %}
</div>
<br>
<div class="container">
  <div id="contacts" class="d-flex flex-row">
    <div class="card card-body overflow-hidden w-50">
      <script src="https://api.mapy.cz/loader.js"></script>
      <script>Loader.load();</script>
      <div class="container-fluid" id="mapa" style="width:600px; height:650px"></div>
      <script>
          var center = SMap.Coords.fromWGS84(15.5875417, 49.4013835);
          var mapa = new SMap(JAK.gel("mapa"), center, 13);
          mapa.addDefaultLayer(SMap.DEF_BASE).enable();
          var scale = new SMap.Control.Scale();
          mapa.addControl(scale, {left:"8px", bottom:"25px"});
          var msOpt = SMap.MOUSE_PAN | SMap.MOUSE_WHEEL | SMap.MOUSE_ZOOM;
          var mouse = new SMap.Control.Mouse(msOpt);
          mapa.addControl(mouse);
          var keyboard = new SMap.Control.Keyboard(SMap.KB_PAN | SMap.KB_ZOOM);
          mapa.addControl(keyboard);
          var selection = new SMap.Control.Selection(2);
          mapa.addControl(selection);
          var zn = new SMap.Control.ZoomNotification();
          mapa.addControl(zn);
          var zoomOpt = {showZoomMenu:false};
          var zoom = new SMap.Control.Zoom(null,{titles:["Přiblížit", "Oddálit"], showZoomMenu:false});
          mapa.addControl(zoom, {right:"2px", top:"10x"});
          var lnt = "Zobrazit na Mapy.cz";
          var lnd = JAK.mel("a", {href:"#", target:"_blank", innerHTML:lnt});
          lnd.style.cssText = "position:absolute;left:8px; bottom:54px;"+
          "display:block; padding:4px 8px; background-color:#fff; border:medium none;"+
          "border-radius:3px; box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);"+
          "text-decoration:none; color:#6b7580;";
          mapa.getContainer().appendChild(lnd);
      </script>
    </div>
    <div class="card card-body w-50">
      <img src="{% static 'images/port.jpg' %}" class="card-img-top rounded" alt="Portrait">
      <div class="card-body">
        <h3>RESTMENU</h3>
        <p>se sídlem v Jihlavě</p>
        <p>tel. 731663897</p>
        <p>e-mail ninja@cechpetr.cz</p>
      </div>
    </div>
  </div>
</div>
<br>

{% endblock %}
