{% load static %}


<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'images/logo.png' %}" class="logo">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if request.user.is_staff %}
        <li class="nav-item">
          <a class="nav-link fs-5" href="{% url 'edit_menu' menu.id %}">Upravit menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="{% url 'orders' %}">Seznam objednávek</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="{% url 'print_menu' %}">Tisknout menu</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link active fs-5" href="{% url 'make_order' %}">Chci si objednat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="{% url 'home'%}#gallery">Galerie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="{% url 'home'%}#contacts">Kontakty</a>
        </li>
      </ul>
    </div>
      {% if request.user.is_staff %}
      <span class="hello-msg">Přihlášen uživatel: {{request.user}}  </span>
      <span><a class="btn btn-warning" href="{% url 'logout' %}">Odhlásit</a></span>
      {% endif %}
  </div>
</nav>
