{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<br>

<form action="" method="POST">
{% csrf_token%}

<div class="container">
  <div class="mb-3 row">
    <label for="datum" class="col-lg-4 col-form-label">Objednávka na den</label>
    <div class="col-lg-8">
      {{menu.day}}
    </div>
  </div>

  <div class="mb-3 row">
    <label for="inputName" class="col-lg-4 col-form-label">Jméno*</label>
    <div class="col-lg-8">
      <input type="text" name="name" maxlength="200" class="form-control" placeholder="Vyplňte jméno" required="" id="id_name">
    </div>
  </div>

  <div class="mb-3 row">
    <label for="inputPhone" class="col-lg-4 col-form-label">Telefon*</label>
    <div class="col-lg-8">
      <input type="number" name="phone" min="0" class="form-control" placeholder="Vyplňte telefonní číslo" required="" id="id_phone">
    </div>
  </div>

  <div class="mb-3 row">
    <label for="inputEmail" class="col-lg-4 col-form-label">E-mail</label>
    <div class="col-lg-8">
      <input type="email" name="email" maxlength="254" class="form-control" placeholder="Vyplňte e-mail" id="id_email">
    </div>
  </div>

  <h4 class="text-center">Polévky</h4>
  <div class="row">
    <div class="col-lg-6">
  		<div class="card text-center text-white mb-3" id="supper-card">
    		<div class="card-header">
    			 <h5 class="card-title">{{menu.supper1}}<small class="text-muted"> | {{menu.supper1.alergens}}</small></h5>
    		</div>
    		<div class="card-body">
          {% if c_p.supper1__sum >= menu.supper1_portions %}

              <small class="text-warning bg-dark rounded"> -Vyprodáno- </small>

          {% else %}



              Počet: <input type="number" name="supper1" min="0" class="form-control" id="id_supper1">
          {% endif %}


    		</div>
    	</div>
    </div>
    <div class="col-lg-6">
  		<div class="card text-center text-white mb-3" id="supper-card">
    		<div class="card-header">
    			 <h5 class="card-title">{{menu.supper2}}<small class="text-muted"> | {{menu.supper2.alergens}}</small></h5>
    		</div>
    		<div class="card-body">
          {% if c_p.supper2__sum >= menu.supper2_portions %}

              <small class="text-warning bg-dark rounded"> -Vyprodáno- </small>

          {% else %}

              Počet: <input type="number" name="supper2" min="0" class="form-control" id="id_supper2">
          {% endif %}

    		</div>
    	</div>
    </div>
  </div>

  <h4 class="text-center">Hlavní jídla</h4>
  <div class="row">
    <div class="col-lg-6">
  		<div class="card text-center text-white mb-3" id="meal-card">
    		<div class="card-header">
          <h5 class="card-title">{{menu.meal1}}<small class="text-muted"> | {{menu.meal1.alergens}}</small></h5>
    		</div>
    		<div class="card-body">
          {% if c_p.meal1__sum >= menu.meal1_portions %}
              <small class="text-warning bg-dark rounded"> -Vyprodáno- </small>
          {% else %}
              Počet: <input type="number" name="meal1" min="0" class="form-control" id="id_meal1">
          {% endif %}

    		</div>
    	</div>
    </div>
    <div class="col-lg-6">
  		<div class="card text-center text-white mb-3" id="meal-card">
    		<div class="card-header">
    			 <h5 class="card-title">{{menu.meal2}}<small class="text-muted"> | {{menu.meal2.alergens}}</small></h5>
    		</div>
    		<div class="card-body">
          {% if c_p.meal2__sum >= menu.meal2_portions %}
              <small class="text-warning bg-dark rounded"> -Vyprodáno- </small>
          {% else %}
              Počet: <input type="number" name="meal2" min="0" class="form-control" id="id_meal2">
          {% endif %}
    		</div>
    	</div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
  		<div class="card text-center text-white mb-3" id="meal-card">
    		<div class="card-header">
          <h5 class="card-title">{{menu.meal3}}<small class="text-muted"> | {{menu.meal3.alergens}}</small></h5>
    		</div>
    		<div class="card-body">
          {% if c_p.meal3__sum >= menu.meal3_portions %}
              <small class="text-warning bg-dark rounded"> -Vyprodáno- </small>
          {% else %}
              Počet: <input type="number" name="meal3" min="0" class="form-control" id="id_meal3">
          {% endif %}
    		</div>
    	</div>
    </div>
    <div class="col-lg-6">
  		<div class="card text-center text-white mb-3" id="meal-card">
    		<div class="card-header">
    			 <h5 class="card-title">{{menu.meal4}}<small class="text-muted"> | {{menu.meal4.alergens}}</small></h5>
    		</div>
    		<div class="card-body">
          {% if c_p.meal4__sum >= menu.meal4_portions %}
              <small class="text-warning bg-dark rounded"> -Vyprodáno- </small>
          {% else %}
              Počet: <input type="number" name="meal4" min="0" class="form-control" id="id_meal4">
          {% endif %}
    		</div>
    	</div>
    </div>
  </div>

  <div class="mb-3 row">
    <label for="inputPickup" class="col-sm-4 col-form-label">Zabalit s sebou</label>
    <div class="col-lg-8">
      <input type="checkbox" name="pickup" class="form-check-input w-25 h-75" id="id_pickup">
    </div>
  </div>

  <div class="mb-3 row">
    <label for="inputPickup-time" class="col-sm-4 col-form-label">Čas vyzvednutí pro jídlo s sebou</label>
    <div class="col-lg-8">

      <select name="pickup_time" class="form-control" id="id_pickup_time">
        <option value="">*</option>

        <option value="10:30">10:30</option>

        <option value="11:00">11:00</option>

        <option value="11:30">11:30</option>

        <option value="12:00">12:00</option>

        <option value="12:30">12:30</option>

        <option value="13:00">13:00</option>

        <option value="13:30">13:30</option>

      </select>
      </div>
    </div>


  <div class="mb-3 row">
    <label for="inputNote" class="col-sm-4 col-form-label">Poznámka</label>
    <div class="col-lg-8">
      <textarea name="note" cols="40" rows="10" maxlength="999" class="form-control" placeholder="Chcete nám něco vzkázat?" id="id_note"></textarea>
    </div>
  </div>
  <input class="btn btn-warning w-100" type="submit" name="Submit" value="Objednat!">
</div>
</form>

{% endblock %}
