{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}
{% include 'accounts/status.html' %}
{% load render_table from django_tables2 %}


<br>

<div class="row">

    <div class="card card-body">
      <h3 class="text-center">Seznam objednávek</h3>
      <a class="btn btn-outline-danger btn-md" href="{% url 'delete_all_orders' %}">Vymazat všechny objednávky</a>
    </div>

  <br>

  <div class="card card-body">
    <h5 class="text-center">Filtr</h5>
    <form action="" method="get" class="form-control">
      <!-- {{filter.form}} -->
      <div class="row g-5">
        <div class="col-sm">
          <input type="text" name="name" id="id_name" class="form-control" placeholder="Jméno">
        </div>
        <div class="col-sm">
          <input type="text" name="phone" id="id_phone" class="form-control" placeholder="Telefon">
        </div>
        <div class="col-sm">
          <select name="pickup" id="id_pickup" class="form-select">
            <option value="unknown" selected="" >S sebou</option>

            <option value="true">Ano</option>

            <option value="false">Ne</option>

          </select>
        </div>
        <div class="col-sm">
          <select name="pickup_time" id="id_pickup_time" class="form-select">
            <option value="" selected="">Čas vyzvednutí</option>

            <option value="10:30">10:30</option>

            <option value="11:00">11:00</option>

            <option value="11:30">11:30</option>

            <option value="12:00">12:00</option>

            <option value="12:30">12:30</option>

            <option value="13:00">13:00</option>

            <option value="13:30">13:30</option>

          </select>
        </div>
        <div class="col-sm">
          <input type="text" name="note" id="id_note" class="form-control" placeholder="Poznámka">
        </div>
      </div>
      <br>
      <button class="btn btn-outline-primary w-100" type="submit" name="button">Filtruj!</button>

    </form>
    <br>
    {% render_table table %}
  </div>
  <br>
</div>



{% endblock %}
