{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<br>

<form action="" method="POST">
{% csrf_token%}

<div class="container">
  <div class="mb-3 row">
    <label for="datum" class="col-lg-4 col-form-label">Objednávka na den</label>
    <div class="col-lg-8">
      {{menu.day}}
    </div>
  </div>

  <div class="mb-3 row">
    <label for="inputName" class="col-lg-4 col-form-label">Jméno*</label>
    <div class="col-lg-8">
      {{form.name}}
    </div>
  </div>

  <div class="mb-3 row">
    <label for="inputPhone" class="col-lg-4 col-form-label">Telefon*</label>
    <div class="col-lg-8">
      {{form.phone}}
    </div>
  </div>

  <div class="mb-3 row">
    <label for="inputEmail" class="col-lg-4 col-form-label">E-mail</label>
    <div class="col-lg-8">
      {{form.email}}
    </div>
  </div>

  <h4>Polévky</h4>
  <div class="row">
    <div class="col-lg-6">
  		<div class="card text-center text-white mb-3" id="supper-card">
    		<div class="card-header">
    			 <h5 class="card-title">{{menu.supper1}}<small class="text-muted"> | {{menu.supper1.alergens}}</small></h5>
    		</div>
    		<div class="card-body">
          {% if c_p.supper1__sum >= menu.supper1_portions %}

              <small class="text-warning bg-dark rounded"> -Vyprodáno- </small>

          {% else %}
              Počet: {{form.supper1}}

          {% endif %}

    		</div>
    	</div>
    </div>
    <div class="col-lg-6">
  		<div class="card text-center text-white mb-3" id="supper-card">
    		<div class="card-header">
    			 <h5 class="card-title">{{menu.supper2}}<small class="text-muted"> | {{menu.supper2.alergens}}</small></h5>
    		</div>
    		<div class="card-body">
          {% if c_p.supper2__sum >= menu.supper2_portions %}

              <small class="text-warning bg-dark rounded"> -Vyprodáno- </small>

          {% else %}
              Počet: {{form.supper2}}

          {% endif %}
    		</div>
    	</div>
    </div>
  </div>

  <h4>Hlavní jídla</h4>
  <div class="row">
    <div class="col-lg-6">
  		<div class="card text-center text-white mb-3" id="meal-card">
    		<div class="card-header">
          <h5 class="card-title">{{menu.meal1}}<small class="text-muted"> | {{menu.meal1.alergens}}</small></h5>
    		</div>
    		<div class="card-body">
          {% if c_p.meal1__sum >= menu.meal1_portions %}

              <small class="text-warning bg-dark rounded"> -Vyprodáno- </small>

          {% else %}
              Počet: {{form.meal1}}

          {% endif %}
    		</div>
    	</div>
    </div>
    <div class="col-lg-6">
  		<div class="card text-center text-white mb-3" id="meal-card">
    		<div class="card-header">
    			 <h5 class="card-title">{{menu.meal2}}<small class="text-muted"> | {{menu.meal2.alergens}}</small></h5>
    		</div>
    		<div class="card-body">
          {% if c_p.meal2__sum >= menu.meal2_portions %}

              <small class="text-warning bg-dark rounded"> -Vyprodáno- </small>

          {% else %}
              Počet: {{form.meal2}}

          {% endif %}
    		</div>
    	</div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
  		<div class="card text-center text-white mb-3" id="meal-card">
    		<div class="card-header">
          <h5 class="card-title">{{menu.meal3}}<small class="text-muted"> | {{menu.meal3.alergens}}</small></h5>
    		</div>
    		<div class="card-body">
          {% if c_p.meal3__sum >= menu.meal3_portions %}

              <small class="text-warning bg-dark rounded"> -Vyprodáno- </small>

          {% else %}
              Počet: {{form.meal3}}

          {% endif %}
    		</div>
    	</div>
    </div>
    <div class="col-lg-6">
  		<div class="card text-center text-white mb-3" id="meal-card">
    		<div class="card-header">
    			 <h5 class="card-title">{{menu.meal4}}<small class="text-muted"> | {{menu.meal4.alergens}}</small></h5>
    		</div>
    		<div class="card-body">
          {% if c_p.meal4__sum >= menu.meal4_portions %}

              <small class="text-warning bg-dark rounded"> -Vyprodáno- </small>

          {% else %}
              Počet: {{form.meal4}}

          {% endif %}
    		</div>
    	</div>
    </div>
  </div>

  <div class="mb-3 row">
    <label for="inputPickup" class="col-sm-4 col-form-label">Zabalit s sebou</label>
    <div class="col-lg-8">
      {{form.pickup}}
    </div>
  </div>

  <div class="mb-3 row">
    <label for="inputPickup-time" class="col-sm-4 col-form-label">Čas návštěvy či vyzvednutí pro jídlo s sebou</label>
    <div class="col-lg-8">
      {{form.pickup_time}}
    </div>
  </div>

  <div class="mb-3 row">
    <label for="inputNote" class="col-sm-4 col-form-label">Poznámka</label>
    <div class="col-lg-8">
      {{form.note}}
    </div>
  </div>
  <input class="btn btn-warning" type="submit" name="Submit">

</div>
</form>

{% endblock %}
