<br>

<div class="row">

		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-order">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Orders</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total}}</h3>
			  	</div>
			</div>
		</div>



		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="supper-card">
			  	<div class="card-header">
			  		<h5 class="card-title">{{menu.supper1}}</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ c_p.supper1__sum }} / {{menu.supper1_portions}}</h3>
			  	</div>
			</div>
		</div>



		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="supper-card">
			  	<div class="card-header">
			  		<h5 class="card-title">{{menu.supper2}}</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ c_p.supper2__sum }} / {{menu.supper2_portions}}</h3>
			  	</div>
			</div>
		</div>



		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="meal-card">
			  	<div class="card-header">
			  		<h5 class="card-title">{{menu.meal1}}</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ c_p.meal1__sum }} / {{menu.meal1_portions}}</h3>
			  	</div>
			</div>
		</div>



		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="meal-card">
			  	<div class="card-header">
			  		<h5 class="card-title">{{menu.meal2}}</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ c_p.meal2__sum }} / {{menu.meal2_portions}}</h3>
			  	</div>
			</div>
		</div>



		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="meal-card">
			  	<div class="card-header">
			  		<h5 class="card-title">{{menu.meal3}}</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ c_p.meal3__sum }} / {{menu.meal3_portions}}</h3>
			  	</div>
			</div>
		</div>



		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="meal-card">
			  	<div class="card-header">
			  		<h5 class="card-title">{{menu.meal4}}</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ c_p.meal4__sum }} / {{menu.meal4_portions}}</h3>
			  	</div>
			</div>
		</div>


</div>
