
<script src="https://api.mapy.cz/loader.js"></script>
<script>Loader.load();</script>
<div class="container-fluid" id="mapa" style="width:600px; height:400px"></div>
<script>
    var center = SMap.Coords.fromWGS84(15.5875417, 49.4013835);
    var mapa = new SMap(JAK.gel("mapa"), center, 13);
    mapa.addDefaultLayer(SMap.DEF_BASE).enable();
    var scale = new SMap.Control.Scale();
    mapa.addControl(scale, {left:"8px", bottom:"25px"});
    var msOpt = SMap.MOUSE_PAN | SMap.MOUSE_WHEEL | SMap.MOUSE_ZOOM;
    var mouse = new SMap.Control.Mouse(msOpt);
    mapa.addControl(mouse);
    var keyboard = new SMap.Control.Keyboard(SMap.KB_PAN | SMap.KB_ZOOM);
    mapa.addControl(keyboard);
    var selection = new SMap.Control.Selection(2);
    mapa.addControl(selection);
    var zn = new SMap.Control.ZoomNotification();
    mapa.addControl(zn);
    var zoomOpt = {showZoomMenu:false};
    var zoom = new SMap.Control.Zoom(null,{titles:["Přiblížit", "Oddálit"], showZoomMenu:false});
    mapa.addControl(zoom, {right:"2px", top:"10x"});
    var lnt = "Zobrazit na Mapy.cz";
    var lnd = JAK.mel("a", {href:"#", target:"_blank", innerHTML:lnt});
    lnd.style.cssText = "position:absolute;left:8px; bottom:54px;"+
    "display:block; padding:4px 8px; background-color:#fff; border:medium none;"+
    "border-radius:3px; box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);"+
    "text-decoration:none; color:#6b7580;";
    mapa.getContainer().appendChild(lnd);
</script>
